*{
    margin : 0;
    padding : 0;
}

body{
    background-image: url("../../img/fond-hotel.jpg");
    background-size: cover;
    font-size : 62.5%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header #logo {
    margin-left : 10px;
    margin-top : 10px;
}

header nav ul {
    width : 40%;
    display : flex;
    justify-content: space-between;
    position : absolute;
    top: 20px;
    right : 40px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-size : 2.5em;
    color : #fff;
    text-decoration: none;
}

header nav ul li:hover {
    border-bottom : solid #fff 3px;
}

header nav ul li:hover a {
    color : grey;
}


header nav ul li:visited{
    border-bottom : solid #fff 3px;
}

.content {
    width : 60%;
    min-height: 40em;
    margin : auto;
    border : solid grey 3px;
    background-color: white;
    opacity: 0.7;
    padding : 20px;
    text-align: center;
}

.content h1 {
    font-size : 2.2em;
    color : darkblue;
}

.content h2 {
    font-size: 1.8em;
    margin-top : 20px;
}

.content p {
    font-size : 1.5em;
    color : black;
    margin-top : 20px;
}

.content ul {
    margin-top : 20px;
}

.content ul li {
    list-style: none;
    font-size : 1.8em;
    text-align : left;
}

.bold{
    font-weight: bold;
}